Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> Jean-Marc <jmarc.levecque@dbmail.com>
Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> Jean-Marc Levecque <jmarc.levecque@jmlesite.fr>
Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> jean-marc <jean-marc@localhost.(none)>
Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> Jean-Marc <jean-marc.levecque@jmlesite.fr>
Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> Jean-Marc Levecque <jmarc.levecque@bbox.fr>
Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> Jean-Marc.Levecque <jmarc.levecque@dbmail.com>
Jean-Marc Levecque <jean-marc.levecque@jmlesite.fr> Jean-Marc Levecque <jmarc.levecque@dbmail.com>
Graeme Geldenhuys <graemeg@gmail.com> graemeg <graemeg@ae50a9b5-8222-0410-bf8d-8a13f76226bf>
Graeme Geldenhuys <graemeg@gmail.com> Charlie Root <root@venus.(none)>
Graeme Geldenhuys <graemeg@gmail.com> Graeme Geldenhuys <graemeg@laptop.(none)>
Graeme Geldenhuys <graemeg@gmail.com> Graeme Geldenhuys <graemeg@graemeg-laptop.(none)>
Graeme Geldenhuys <graemeg@gmail.com> Graeme Geldenhuys <graeme@mastermaths.co.za>
Graeme Geldenhuys <graemeg@gmail.com> Graeme Geldenhuys <graemeg@users.sourceforge.net>
Jean Pierre Anghel <jean-pierre.anghel@orange.fr> jp anghel <jp.anghel@bbox.fr>
Andrew Haines <andrewd207@aol.com> Andrew <andrewd207@aol.com>
Andrew Haines <andrewd207@aol.com> Andrew <andrew@localhost.(none)>
Andrew Haines <andrewd207@aol.com> Andrew <drewski207@users.sourceforge.net>
Andrew Haines <andrewd207@aol.com> drewski207 <drewski207@ae50a9b5-8222-0410-bf8d-8a13f76226bf>
Krzysztof Dibowski <dibowski@interia.pl> Dibo <dibo20@wp.pl>
Krzysztof Dibowski <dibowski@interia.pl> Dibo <dibowski@interia.pl>
Krzysztof Dibowski <dibowski@interia.pl> Dibo <dibo@unknown.com>
Felipe Menteiro de Carvalho <sekelsenmat@users.sourceforge.net> sekelsenmat <sekelsenmat@ae50a9b5-8222-0410-bf8d-8a13f76226bf>
