[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=docview %f
Name=fpGUI DocView
GenericName=INF help viewer
Icon=docview
MimeType=application/x-docview-extension-inf
Categories=Development;Utility;Application;
Comment=A fast cross-platform INF help file viewer

