[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=fpGUI DocView
GenericName=INF Help Viewer
Comment=A INF Documentation Viewer
Exec=docview %f
Terminal=false
Type=Application
Icon=docview.png
Categories=Utility;Application;
StartupWMClass=docview
MimeType=application/x-inf;


